{% extends 'base.html' %}
{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Réinitialiser le mot de passe</h2>
		<hr>
		<p>Mot de passe oublié?</p>
		<p>Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail des instructions pour en définir une nouvelle.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form.as_p }}
            <button class="btn btn-primary" type="submit">Envoyer un e-mail</button>
        </form>
  	</div> 

{% endblock %}