{% extends 'base.html' %}
{% load static %}

{% block css_content %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
<div class="container mx-5 mt-5 search">
    <div class="row mt-5">
        <div class="col-md-6">
            <p class="text">{{ data_length }} résultats pour <b>{{ word_searched }}</b></p>
        </div>
        <div class="col-md-6">
           <form action="">
                <select style="background-color:#dcdfe3;">
                    <option value="#">Triez par</option>
                    <option value="price">Prix</option>
                    <option value="old">Plus ancien</option>
                    <option value="new">Plus récent</option>
                </select>
            </form>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        {% for result in results %}
        <div class="row no-gutters mt-5">
            <div class="col-md-5 pl-3">
                <img src="{{ result.images.url }}" class="card-img" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">{{ result.post.name }}</h5>
                    <p class="card-text">{{ result.post.description }}</p>
                    <p class="card-text"><small class="text">Prix: {{ result.post.price }} CFA</small></p>
                    <p class="card-text"><small class="text-muted">Publié le {{ result.post.created_date }}</small></p>
                    <a href="{% url 'single_post' result.post.id %}" class="btn btn-primary"> Voir le produit</a>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

<!--    <div class="row">
        <div class="col-6 col-md-6 ml-5 pt-5" style="background-color: white;">
            <div class="row">
                {% for result in results %}
                <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-inline-flex flex-row">
                                <img src="{{ result.images.url }}" class=" mr-3" width="50%">
                                <h5>{{ result.post.name }}</h5>

                            </div>
                        </div>
                        <div class="col-md-6"><h5>{{ result.post.price }}</h5></div>
                    </div>

                    <hr>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>-->
</div>
{% endblock %}