.navbar-nav, navbar-brand{
    position: relative;
    left: 40%
   }

   @media (max-width: 480px) {
    .btn-primary
{
    margin-left: 0px !important;
    margin-top: 10px
}
    .recherche{
        width: 180px;
    }
}

