{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type='text/css' href="{% static 'css/global.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="form_signup mx-5 my-5">
                <h3 class="mb-1 mt-5 mb-5">Création de compte </h3>
                <form method="POST">
                    {% csrf_token %}

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                    {{ message}}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {{ userform.as_p }}
                    {{ form.as_p }}

                    <input type="submit" class="btn btn-primary mb-3" value="soumettre">
                    <p> Vous avez deja de compte? Clikez <a href="connexion">ici</a></p>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="avatar mt-5 mr-5">
                <img src="{% static 'images/avatar.jpg' %}">
            </div>
        </div>

    </div>
</div>

{% endblock %}